@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap&family=My+Soul&display=swap");
#about {
  padding: 15vh 0 5vh 0;
}

#about .wrapper {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 5, 14, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  padding: 10vh 1rem 10vh 1rem;
}

#about .wrapper .icons {
  font-size: 1.5rem;
}

#about .wrapper .icons a {
  color: #ffff !important;
}

#about .wrapper .icons a:hover {
  color: #fe4646 !important;
}

#about .wrapper #scroll {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
  #about .wrapper #scroll {
    margin-top: 4rem;
  }
}

#about .wrapper #scroll .scroll {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.459);
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

#about .wrapper #scroll .scroll::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12.5px;
  width: 10px;
  height: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.459);
  border-bottom: 2px solid rgba(255, 255, 255, 0.459);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#about .text {
  color: #020202;
  max-width: 400px;
  margin: auto;
}

#about .text h1 {
  color: #fe4646;
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
}

#about .text #hand {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  display: inline-block;
}

#about .text #hand:hover {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  display: inline-block;
  cursor: pointer;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#about .text p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #e6e6e6;
  line-height: 2rem;
}

@media only screen and (min-width: 600px) {
  #about .text {
    max-width: 655px;
  }
  #about .text h1 {
    font-size: 6rem;
  }
  #about .text p {
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) {
  #about .wrapper {
    padding: 15vh 0 12vh 0;
  }
}

#projects {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
}

#projects a:link {
  text-decoration: none;
}

#projects a:visited {
  text-decoration: none;
}

#projects a:hover .text h2 {
  color: #fe4646;
}

#projects .wrap {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

#projects .figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.5rem;
}

#projects .figure img {
  width: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

#projects .text-wrap {
  margin: 1rem 0 0 0;
}

#projects .text-wrap .text h2 {
  font-weight: bold;
  color: white;
  font-size: 2rem;
}

#projects .text-wrap .text p {
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: justify;
  color: rgba(255, 255, 255, 0.637);
}

@media only screen and (min-width: 600px) {
  #projects .text-wrap .text h2 {
    font-size: 3rem;
  }
  #projects .text-wrap .text p {
    font-size: 1.125rem;
  }
}
/*# sourceMappingURL=style.css.map */