.navbar-expand-md {
    background-color: #f9fafb;
    border-bottom: 2px solid rgb(0, 0, 0);
    .navbar-toggler {
        border: none !important;
        color: black !important;
    }
    .dropdown-menu {
        border-radius: 3px;
        padding: 1rem 0.7rem;

        a {
            padding: 0.5rem 0;
            @media only screen and (max-width: 767px) {
                padding: 1rem 0;
                text-align: center;
            }
            &:hover {
                border: none !important;
            }
        }
    }
    .navbar-nav {
        @media only screen and (min-width: 768px) {
            padding: 0.5rem 0;
        }
        .nav-item {
            .active {
                font-weight: 600 !important;
            }
            @media only screen and (min-width: 768px) {
                .active:hover {
                    color: rgb(0, 0, 0);
                }
                a {
                    border: 2px solid rgba(0, 0, 0, 0);
                }
                a:hover {
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                    border: 2px solid rgb(0, 0, 0);
                    background-color: #ffffff;
                    border-radius: 0.2rem;
                }
            }
            .nav-link {
                text-align: center;
                padding: 2rem 0;
                font-weight: 400;
                @media only screen and (min-width: 768px) {
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}
