body {
    background-color: #000000;
}
$base-color: #fe4646;

.navbar-expand-lg {
    backdrop-filter: blur(16px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
    background-color: rgba(15, 15, 15, 0.75) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125) !important;
    .navbar-brand {
        font-family: "My Soul", cursive;
        font-weight: bold;
        color: $base-color;
        font-size: 30px;
    }
    .navbar-toggler {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.788);
        font-weight: 500;
        border: 1px solid rgba(255, 255, 255, 0.527);
        padding: 10px 30px 10px 30px;
    }

    .navbar-nav .nav-link {
        padding: 0 35px 0 35px;
        text-align: center;
        color: white;
        @media only screen and (max-width: 991px) {
            padding: 20px 0 20px 0;
        }
    }
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: $base-color;
}
