@import "../base";


.search {
    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    [contenteditable].form-control:focus {
        box-shadow: none;
        border-top: 2px solid black;
        border-right: 0;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
    }
}

#project-list {
    margin-bottom: 4rem;
    .card {
        width: 100%;
        text-decoration: none;
        border: 2px solid black;
        transition: box-shadow 0.3s ease-in-out;

        img {
            height: 200px;
            object-fit: cover;
            border-bottom: 2px solid black;
            filter: grayscale(1);
        }

        &:hover {
            box-shadow: 0 5px 15px rgba(184, 184, 184, 0.8);
        }
    }
}