@import "../base", "../navbar/navbar.scss", "../footer/footer.scss", '../sub-nav/sub-nav';

#project-list {
    margin-top: 6rem;
    .card {
        padding: 1rem;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid black;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 5px 15px rgba(184, 184, 184, 0.8);
            .learn-more {
                text-decoration: underline;
            }
        }
        .wrapper {
            display: flex;
        }
    }
}
