{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}
Contact List
{% endblock title %}
{% block navbar %}
{% include 'admin_nav.html' %}
{% endblock navbar %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'accounts/dashboard-contact-list/style.css' %}" />
{% endblock stylesheet %}
{% block content %}

{% include 'sub-nav.html' %}


<section id="contact-list" class="mb-5">
    {% if contacts %}
    <div class="accordion" id="accordionExample">

        {% for contact in contacts %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button {% if not forloop.first %}collapsed{% endif %} shadow-none type=" button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne{{contact.pk}}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapseOne">
                    <b>{{contact.subject}}</b>
                </button>
            </h2>
            <div id="collapseOne{{contact.pk}}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><b>Full Name : </b>{{contact.full_name}}</p>
                    <p><b>Email : </b>{{contact.email_id}}</p>
                    <p><b>Message : </b>{{contact.message}}</p>
                    <span class="text-muted">{% timezone "Asia/Calcutta" %}{{contact.date | time:"h:i A"}}{% endtimezone %} ({{contact.date | timesince}} ago)</span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% else %}
    <h3 class="text-center mt-5">No Contacts Found</h3>
    {% endif %}
</section>
{% endblock content %}