{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'accounts/login/style.css' %}"> {% endblock %}

{% block content %}

    {% include 'sub-nav.html' %}

    <section id="login">
        <div class="wrapper">
            <h1 class="heading-md text-center mb-4">Login</h1>
            <div class="form-wrap">
                <form method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger show text-center" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
    
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username" required maxlength="254">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="remember_me">
                        <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn primary-btn submit-btn" type="submit">Submit</button>
                    </div>
                </form>
                <div class="mb-1">
                    <a href="{% url 'accounts:reset-password' %}">Forgot password ?</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}