{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    {% include 'admin_nav.html' %}
{% endblock navbar %}
{% block title %}
    Delete {{ object.title }}
{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet"
          href="{% static 'accounts/password-reset-done/style.css' %}">
{% endblock %}
{% block content %}
    {% include 'sub-nav.html' %}
    <section id="password-reset-done">
        <div class="wrapper">
            <form method="post">
                {% csrf_token %}
                <h1 class="heading-md mb-4">Delete</h1>
                <p class="text">Are you sure you want to delete "{{ object.title }}"? Once deleted cannot be recovered.</p>
                <input type="submit" class="primary-btn" value="Confirm">
            </form>
        </div>
    </section>
{% endblock content %}
