@import "../base", "../navbar/navbar.scss", "../footer/footer.scss";

// Hero Section style
#hero {
    .text-wrap {
        @media only screen and(min-width: 768px) {
            max-width: 425px;
        }
    }
    .icon-stack{
        .nav-item > a{
            color: black;
            font-size: 1.4rem;
            border-radius: 50%;
            transition: all 0.1s ease-in-out;
            &:hover{
                font-size: 1.5rem;
            }
        }
    }
    img {
        width: 100%;
        max-width: 140px;
        border-radius: 50%;
        border: 2px solid black;
        filter: grayscale(1);
    }
}

// Projects Section Style
#projects {
    margin-top: 3rem;

    .card {
        padding: 1rem;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid black;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 5px 15px rgba(184, 184, 184, 0.8);
            .learn-more {
                text-decoration: underline;
            }
        }

        .wrapper {
            display: flex;
        }
    }
}
