@import '../base';

.wrap{
    display: flex;
    justify-content: left;
    .figure{
        img{
            object-fit: cover;
            width: 100%;
            height: 400px;
            border: 2px solid black;
            filter: grayscale(1);
        }
    }
}