@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Henny+Penny&family=Homemade+Apple&display=swap');

$title-font: 'Fredericka the Great', serif;
$brand-font: 'Homemade Apple';
$display-font: 'Henny Penny';

body{
    background-color: #000000 !important;
    .title{
        font-family: $title-font;
        color: #ffff !important;
    }
}

header{
    .navbar{
        background-color: #000000 !important;
        padding: 2rem 0;
        .container{
            max-width: 1280px;
        }
        .navbar-brand{
            color: #ffffff;
            font-size: 25px;
            font-weight: 600;
            font-family: $brand-font;
        }
        .contact-btn{
            background-color: #2b2b2b;
            color: #ffffff;
            padding: 0.5rem 1rem;
            font-weight: 500;
            border-radius: 50px;
            @media screen and (min-width: 900px){
                font-size: 18px;
                padding: 1rem 2rem;
            }
            .copy-icon{
                width: 18px;
                margin: -4px 1rem 0 0;
                @media screen and (min-width: 900px){
                    margin: -4px 1rem 0 0;
                    width: 22px;
                }
            }
        }
    }
}


#hero{
    @media screen and (min-width: 900px){
        padding: 4rem 0;
    }
    padding: 3rem 0 2rem 0;
    text-align: center;
    .available{
        color: #adff2f;
        font-size: 12px;
        font-weight: 400;
        background-color: #acff2f34;
        border-radius: 50px;
        padding: 0.5rem 1rem;
        width: fit-content;
        margin-bottom: 2rem;
    }
    h2{
        font-size: 56px !important;
        margin-bottom: 1rem;
        @media screen and (min-width: 900px){
            font-size: 70px !important;
            margin-bottom: 2rem;
        }
    }
    .sub-text{
        color: #ffffff91;
        font-size: 16px;
        margin-bottom: 1rem;
        max-width: 700px;
        @media screen and (min-width: 900px){
            margin-bottom: 1.5rem;
            font-size: 18px;
        }
    }
}

#projects{
    padding: 3rem 0 2rem 0;
    .card{
        background-color: transparent;
        .card-img-top{
            object-fit: cover;
            border-radius: 0.2rem;
        }
        .card-body{
            display: inline;
        }
    }
}