@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Henny+Penny&family=Homemade+Apple&display=swap');

$title-font: 'Fredericka the Great', serif;
$brand-font: 'Homemade Apple';
$display-font: 'Henny Penny';

header{
    .navbar{
        background-color: #000000 !important;
        padding: 2rem 0;
        .container{
            max-width: 1280px;
        }
        .navbar-brand{
            color: #ffffff;
            font-size: 25px;
            font-weight: 600;
            font-family: $brand-font;
        }
        .contact-btn{
            background-color: #2b2b2b;
            color: #ffffff;
            padding: 0.5rem 1rem;
            font-weight: 500;
            border-radius: 50px;
            border: 1px solid #ffffff;
        }
    }
}

section{
    background-color: #000000;
    min-height: 100vh;
    h1, h2{
        font-family: $title-font;
        color: #ffff !important;
    }
}