$base-color: #fe4646;

#project {
    padding: 20vh 0 10vh 0;
    @media only screen and (max-width: 767px) {
        padding-top: 15vh;
    }

    img {
        width: 100%;
        object-fit: cover;
        max-height: 400px;
        border-radius: 12px;
    }
    .text {
        margin-top: 3rem;
        p {
            color: rgba(255, 255, 255, 0.815);
            font-size: 1.22rem;
            line-height: 2rem;
            font-weight: 400;
        }
        @media only screen and (max-width: 767px) {
            p {
                font-size: 1.11rem;
            }
        }
        .btn {
            padding: 0.5rem 1.5rem;
            background-color: $base-color !important;
            color: white;
            font-weight: 400;
        }

        h1,
        h4 {
            color: white;
            font-weight: bold;
        }

        .tags {
            .badge {
                padding: 8px 20px;
                margin: 10px 3px;
                text-transform: uppercase;
            }

            .python {
                color: #ffff;
                background-color: rgb(16, 91, 231);
            }
            .bootstrap {
                color: #ffff;
                background-color: rgb(80, 16, 231);
            }
            .figma {
                color: rgb(0, 0, 0);
                background-color: rgb(223, 223, 223);
            }
            .github {
                color: #ffff;
                background-color: rgb(37, 37, 37);
            }
            .html {
                color: #ffff;
                background-color: rgb(223, 59, 30);
            }
            .js {
                color: rgb(0, 0, 0);
                background-color: rgb(207, 180, 25);
            }
            .react {
                color: rgb(14, 14, 14);
                background-color: rgb(30, 185, 223);
            }
            .sass {
                color: rgb(255, 255, 255);
                background-color: rgb(180, 7, 180);
            }

            .fa-brands {
                font-size: 1rem;
            }
        }

        .sub-text {
            color: rgb(167, 167, 167);
        }
    }
}