{% extends 'base.html' %}

{% block title %} | About{% endblock title %}
{% block content %}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 profile-image">
                <img class="animate__animated animate__fadeIn"
                    src="https://avatars.githubusercontent.com/u/69669027?v=4" alt="">
            </div>
            <div class="col-12 col-md-6">
                <div class="text animate__animated animate__fadeIn animate__delay-1s">
                    <p>I am Joise MP, a freelance Visual Product Designer and Developer based in Kochi, India. I created
                        this website as my portfolio and to be able to share some of my projects with anybody who
                        is interested in using them as inspiration or research material.</p>
                    <p>
                        I like to resolve design problems, create smart user interface and imagine useful interaction,
                        developing rich web experiences & web applications.
                        When not working or futzing around with code, I study how to escape from University. Actually
                        for hire.
                    </p>
                    <p>
                        I am hoping this project also
                        takes me out of my comfort zone and provides new challenges. So lots of exciting things to look out for! If you're interested in my
                        journey stay tuned, and if you'd like to get in touch feel free to drop me a message.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}