{% extends 'base.html' %}
{% load static %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'projects/about/style.css' %}"> {% endblock %}

{% block content %}


<div class="container">
    <div class="go-back">
        <a onclick="goBack()" class="text"><i class="fa-solid fa-arrow-left go-back-icon"></i>go back</a>
    </div>

    <section id="about" class="mb-5">

        <figure class="figure mb-3">
            <img id="about-img" src="{% static 'base/pro-img.png' %}" onclick="toogleImgFilter('about-img')" class="rounded"
                alt="...">
            <figcaption class="figure-caption">Click on the image to remove filter</figcaption>
        </figure>

        <div class="text">
            <p>
                I am Joise MP, a freelance <b>Web-Developer</b> and <b>Designer</b> based in Kochi, India. I created
                this website as my portfolio and to be able to share some of my projects with anybody who
                is interested in using them as inspiration or research material.
            </p>
            <p>
                I like to resolve design problems, create smart user interface and imagine useful interaction,
                developing rich web experiences & web applications.
                When not working or futzing around with code, I study how to escape from University. Actually
                for hire.
            </p>
            <p>
                I am hoping this project also
                takes me out of my comfort zone and provides new challenges. So lots of exciting things to look
                out for! If you're interested in my
                journey stay tuned, and if you'd like to get in touch feel free to drop me a message.
            </p>
        </div>
    </section>

    {% include 'footer.html' %}

</div>


{% endblock %}