{% extends 'base.html' %}
{% load static %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'projects/project-list/style.css' %}"> {% endblock %}

{% block content %}
    
    {% include 'sub-nav.html' %}

    <section id="project-list">

        {% for project in projects %}
        <a href="{% url 'projects:project-detail-page' project.pk %}" class="card mb-3">
            <div class="wrapper">
                <div>
                    {% if project.project_type == 'Design' %}
                    <i class="fa-solid fa-bezier-curve icon"></i>
                    {% elif project.project_type == 'Programming' %}
                    <i class="fa-solid fa-code icon"></i>
                    {% endif %}
                </div>
                <div class="mt-5">
                    <p class="card-title">
                        {{project.title}}
                    </p>
                    <p class="text"><b>Role</b>: {{project.role}}</p>
                    <p class="text">
                        {{project.summary | truncatechars:150}}
                    </p>
                    <p class="learn-more">
                        Learn more<i class="fa-solid fa-arrow-right ps-2 pt-2"></i>
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}

    </section>

    {% include 'footer.html' %}


{% endblock %}