{% extends 'base.html' %}

{% block content %}
<section id="about">
    <div class="container-lg">
        <div class="wrapper glowing animate__animated animate__backInDown">
            <div class="text text-center animate__animated animate__fadeIn animate__delay-1s">
                <h1><span id="hand">👋</span> Hello</h1>
                <p>I am Joise MP, a freelance Visual Product Designer and
                    Developer based in Kochi, India.</p>
                <div class="mouse_scroll">

                    <div class="mouse">
                        <div class="wheel"></div>
                    </div>
                    <div>
                        <span class="m_scroll_arrows one"></span>
                        <span class="m_scroll_arrows two"></span>
                        <span class="m_scroll_arrows three"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="container-lg">
    
    {% if programming_projects %}
        {% for project in programming_projects %}
            <a href="#">
                <div class="wrap animate__animated animate__fadeIn animate__delay-1s">
                    <figure class="figure">
                        <img src="{{ project.image.url }}"
                            class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                    <div class="text-wrap">
                        <div class="text">
                            <h2 class="text-center">{{project.title}}</h2>
                            <p class="text-center">{{project.company}} - {{project.year}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}

</section>

{% endblock content %}