{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}" />
{% endblock %}
<nav class="navbar bg-light fixed-top navbar-expand-md">
    <div class="container-md">
        <a class="navbar-brand heading-md"
           href="{% url 'accounts:dashboard-project-list' %}"><b>Dashboard</b></a>
        {% if request.user.is_authenticated %}
            <button class="navbar-toggler shadow-none"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end"
                 tabindex="-1"
                 id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <b>Dashboard</b>
                    </h5>
                    <button type="button"
                            class="btn-close shadow-none"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'accounts:dashboard-project-list' %}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:contact-list-page' %}">Contacts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Profile
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'accounts:change-password' %}">Change Password</a></li>
                              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout<i class="fa-solid fa-arrow-right-from-bracket ps-2"></i></a></li>
                            </ul>
                          </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
