<!doctype html>
<html lang="en">
{% load static %}
{% url 'projects:home-page' as homePage %}
{% url 'projects:contact-page' as contactPage %}
{% url 'projects:about-page' as aboutPage %}
{% url 'projects:project-list-page' as projectListPage %}
{% url 'projects:programming-project-filter-page' as programmingProjectListPage %}
{% url 'projects:design-project-filter-page' as designProjectListPage %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Joise MP{% endblock title %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'base/pro-pic-1.png' %}">
    {% block stylesheet %} {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% if messages %}
            {% for message in messages %}
                <div class="toast show">
                    <div class="toast-header">
                        <strong class="me-auto text-dark"><i class="fa-solid fa-bell pe-2"></i>Notification</strong>
                        <button type="button" class="btn-close shadow-none" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body" style="background-color: rgb(255, 255, 255);">
                        <p>{{message}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'base/main.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}" crossorigin="anonymous"></script>
</body>

</html>