<footer class="py-4 footer">
    <ul class="nav justify-content-center mb-3">
        <li class="nav-item">
            <a href="{{homePage}}" class="nav-link px-3">Home</a>
        </li>
        <li class="nav-item">
            <a href="{{aboutPage}}" class="nav-link px-3">About</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/joisemp/" target="_blank" class="nav-link px-3t">Github</a>
        </li>
        <li class="nav-item">
            <a href="https://dribbble.com/joise_mp/" target="_blank" class="nav-link px-3t">Dribbble</a>
        </li>
    </ul>
    <hr>
    <p class="text-center">
        &copy; <span id="year"></span> Joise MP
    </p>
</footer>