<div class="sub-menu-wrap">
    <div class="row">
        <div class="col-6">
            <a onclick="goBack()" class="go-back"><i class="fa-solid fa-arrow-left go-back-icon"></i>go back</a>
        </div>
        {% if request.path == projectListPage %}
        <div class="col-6">
            <div class="dropstart">
                <a class="filter" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="#">Filter
                    <i class="fa-solid fa-filter icon-filter"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item active" href="#">All Projects</a></li>
                    <li><a class="dropdown-item" href="#">Programming Projects</a></li>
                    <li><a class="dropdown-item" href="#">Design Projects</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>