@import '../base', '../footer/footer.scss', '../sub-nav/sub-nav';

#about {
    .figure {
        img {
            width: 100%;
            max-width: 300px;
            border: 2px solid black;
            filter: grayscale(1);
        }
    }
}
