.go-back {
    margin-bottom: 2rem;
    max-width: 100px;
    a {
        color: rgb(0, 0, 0);
        &:hover {
            cursor: pointer;
            .go-back-icon {
                padding-right: 0.7rem;
            }
        }
    }
    .text {
        font-weight: 500;
        text-decoration: none;
        .go-back-icon {
            padding-right: 0.5rem;
            transition: all 0.3s ease-in-out;
        }
    }
}
