{% extends 'base.html' %}

{% load static %}

{% block title %}Success{% endblock title %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'accounts/password-reset-done/style.css' %}"> {% endblock %}

{% block content %}

    {% include 'sub-nav.html' %}

    <section id="password-reset-done">
        <div class="wrapper text-center">
            <h1 class="heading-md text-center mb-4">Password reset successful</h1>
            <p class="text mb-3">Your Password has been set. You may go ahead and login</p>
            <a href="{% url 'accounts:login' %}" class="primary-btn btn mt-2">Return to login <i class="fa-solid fa-right-to-bracket ps-2"></i></a>
        </div>
    </section>

{% endblock content %}