{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'accounts/password-reset/style.css' %}"> {% endblock %}

{% block content %}

<div class="container">

    {% include 'sub-nav.html' %}

    <section id="password-reset">
        <div class="wrapper">
            <h1 class="heading-md text-center mb-3">Reset Password</h1>
            <p class="text text-center" >Forgot your password? Please enter the email address you used to register
                with us and we will send you a link to reset your password</p>
            <div class="form-wrap">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control"  name="email" maxlength="254" required id="id_email" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn primary-btn submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


{% endblock content %}