{% extends 'base.html' %}

{% load static %}

{% block title %}Check inbox{% endblock title %}

{% block navbar %}{% include 'admin_nav.html' %}{% endblock navbar %}

{% block stylesheet %} <link rel="stylesheet" href="{% static 'accounts/password-reset-done/style.css' %}"> {% endblock %}

{% block content %}

    {% include 'sub-nav.html' %}

    <section id="password-reset-done">
        <div class="wrapper">
            <h1 class="heading-md text-center mb-4">Check your inbox</h1>
            <ul>
                <li class="text mb-3">We've emailed you instructions for setting your password, if an account exists with the email you entered, you should receive them shortly.</li>
                <li class="text mb-2">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</li>
                <a href="https://mail.google.com/" target='_blank' class="primary-btn btn mt-2">Open gmail <i class="fa-solid fa-arrow-up-right-from-square ps-2"></i></a>
                <a href="{% url 'accounts:login' %}" class="secondary-btn btn mt-2">Return to login <i class="fa-solid fa-right-to-bracket ps-2"></i></a>
            </ul>
        </div>
    </section>

{% endblock content %}